@page "/home"

@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>


<Button @onclick="() => LanguageChange(LanguageEnum.Languages.Hindi)">Click Hin</Button>
<Button @onclick="() => LanguageChange(LanguageEnum.Languages.English)">Click US</Button>

<h1> @ResourcesManager.GetString(LanguageEnum.MultiLanguals.HelloWorld)</h1>

Welcome to your new app.


@code{

    private async void LanguageChange(Enum languge)
    {
        MultiLangualService.SetCulture(EnumHelper.GetDescription(languge));
        await JS.InvokeVoidAsync(JsStaticFun.blazorCultureSet, EnumHelper.GetDescription(languge));
        // NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}