@using BlazorApp.Data.Interfaces.Auth
@using Blazored.Toast.Configuration
@using Microsoft.AspNetCore.Authorization
@using SMS.DataAccess.Models.Auth.Request
@using SMS.Shared.JWTToken
@using SMS.Shared.Loader
@using SMS.Shared.Static.Routes
@using Blazored.Toast
@inherits LayoutComponentBase
@rendermode InteractiveWebAssembly
@* @attribute [Authorize] *@

@inject NavigationManager _navigationManager
@inject ITokenService tokenService
@inject IAuth _auth;

<Blazored.Toast.BlazoredToasts Position="ToastPosition.TopRight"
Timeout="2"
IconType="IconType.FontAwesome"
SuccessClass="success-toast-override"
SuccessIcon="fa fa-check"
ErrorIcon="fa fa-triangle-exclamation"  />

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div class="page">
            <Sidebar @ref="sidebar"
            Href="/"
            IconName="IconName.BuildingFillGear"
            Title="SMS"
            DataProvider="SidebarDataProvider" />

            <main>
                <div class="d-flex justify-content-between px-4 py-2 border-bottom">
                    <Icon Class="pt-2" Name="IconName.List" role="button" @onclick="ToggleSidebar" />
                    <div class="d-flex">
                        <ThemeSwitcher  Class="mx-3"/>
                        <Dropdown Color="DropdownColor.None">
                            <DropdownToggleButton>
                                <img style="height:30px; border-radius:50%;" src="@UserImage" alt="Profile image" />
                                <span class="mx-2">@context.User.Identity?.Name</span>
                            </DropdownToggleButton>
                            <DropdownMenu>
                                <DropdownItem To="#" Type="DropdownItemType.Button">Action</DropdownItem>
                                <DropdownItem @onclick="LogOutPage" Type="DropdownItemType.Button">LogOut</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </div>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
            <BlazorApp.Client.Shared.Loader />
        </div>
    </Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>


@code{
    private JwtDTO? tokenData;
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem>? navItems;
    private UserPhoto? userPhoto;
    private string UserImage = string.Empty;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            tokenData = tokenService.TokenData;
            if (tokenData == null && OperatingSystem.IsBrowser())
            {
                await GetTokenData();
            }
            await GetUserImage();
            StateHasChanged();
        }
    }

    public async Task GetTokenData()
    {
        tokenData = await tokenService.GetClaimFromToken();
        if (tokenData == null)
        {
            _navigationManager.NavigateTo(Page_Routes.Login);
        }
        else
        {
            tokenService.SetTokenData(tokenData);
        }
    }

    private async Task LogOutPage(){
        await tokenService.RemoveTokensAsync();
        _navigationManager.NavigateTo(Page_Routes.Login);
    }


    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "4", IconName = IconName.LayersHalf, Text = "Section", IconColor = IconColor.Success },
            new NavItem { Id = "6", Href = "/home", IconName = IconName.HouseDoor, Text = "home", ParentId="4" },
            new NavItem { Id = "7", Href = "/weather", IconName = IconName.CloudHaze2, Text = "Weather", ParentId="4" },

            new NavItem { Id = "8", IconName = IconName.Newspaper, Text = "Users", IconColor = IconColor.Danger },
            new NavItem { Id = "11", Href = "/student", IconName = IconName.PersonBadge, Text = "Student", ParentId="8" },
            new NavItem { Id = "12", Href = "/staff", IconName = IconName.PersonGear, Text = "Staff", ParentId="8" },

            new NavItem { Id = "13", Href="/study-material",  IconName = IconName.JournalBookmarkFill, Text = "Study Material", IconColor = IconColor.Primary },
        };

        return navItems;
    }

    public async Task GetUserImage()
    {
        userPhoto = new UserPhoto()
            {
                UserId = tokenData.UserId,
                RoleId = tokenData.role
            };
        var res = await _auth.GetUserPhoto(userPhoto);
        UserImage = "data:image/jpeg;base64," + res.Data;
    }


    private void ToggleSidebar() => sidebar.ToggleSidebar();

}

@* <style>
    :root {
        --bb-sidebar-width: 270px;
        --bb-sidebar-collapsed-width: 50px;
        --bb-sidebar-background-color: rgba(234, 234, 234, 1);
        --bb-sidebar-top-row-background-color: rgba(0,0,0,0.08);
        --bb-sidebar-top-row-border-color: rgb(194,192,192);
        --bb-sidebar-title-text-color: rgb(0,0,0);
        --bb-sidebar-brand-icon-color: #6f42c1;
        --bb-sidebar-brand-image-width: 24px;
        --bb-sidebar-brand-image-height: 24px;
        --bb-sidebar-title-badge-text-color: rgb(255,255,255);
        --bb-sidebar-title-badge-background-color: rgba(25,135,84,var(--bs-bg-opacity,1));
        --bb-sidebar-navbar-toggler-icon-color: rgb(0,0,0);
        --bb-sidebar-navbar-toggler-background-color: rgba(0,0,0,0.08);
        --bb-sidebar-content-border-color: rgb(194,192,192);
        --bb-sidebar-nav-item-text-color: rgba(0,0,0,0.9);
        --bb-sidebar-nav-item-text-active-color-rgb: 0,0,0;
        --bb-sidebar-nav-item-text-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
        --bb-sidebar-nav-item-text-active-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
        --bb-sidebar-nav-item-background-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
        --bb-sidebar-nav-item-group-background-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
    }
</style> *@