@page "/"
@rendermode InteractiveWebAssembly
@using Blazored.Toast.Configuration
@using Blazored.Toast.Services

@inject ITokenService tokenService
@inject NavigationManager _navigationManager
@inject IToastService ToastService
@inject PreloadService PreloadService

<h3>Dashboard</h3>
@{
    if(tokenData?.role == 2)
    {
        <p>Admin</p>
    }
    else
    {
        <p>Not Admin</p>
    }
}
<button class="btn btn-info" id="InfoButton" @onclick="showToastMsg">Info Toast</button>

@code {

    private JwtDTO? tokenData;
    private int? x = 0;

    // protected override async Task OnInitializedAsync()
    // {
    //     x = tokenService.TokenData?.CurrentYearId;
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await getTokenData();
            StateHasChanged();
        }
    }

    public async Task getTokenData()
    {
        tokenData = await tokenService.GetClaimFromToken();
        if(tokenData == null)
        {
            _navigationManager.NavigateTo(Page_Routes.Login);
        }
        else
        {
            tokenService.SetTokenData(tokenData);
        }
    }

    private void showToastMsg()
    {
        ToastService.ShowToast(ToastLevel.Success, "This is a success message!");
    }
}
