@page "/student/add"
@page "/student/add/{id:int}"
@using SMS.DataAccess.Data.Interfaces.Student
@using SMS.DataAccess.Models.Student.Request
@rendermode InteractiveWebAssembly

@inject NavigationManager navigationManager
@inject ICommon _common
@inject IStudent _student
@inject IToastService ToastService
@inject ITokenService TokenService

<div class="d-flex justify-content-between border-bottom border-4 border-secondary pb-1 mb-3">
    <h2 class="m-0">
        @if (id != null)
        {
            <span>Edit</span>
        }
        else
        {
            <span>Add</span>
        }
        Student
    </h2>
    <Button class="p-3 py-0"
            Color="ButtonColor.Secondary"
            Size="ButtonSize.Large"
            @onclick="BackClick">
        <Icon Name="IconName.ArrowReturnLeft" />
        Back
    </Button>
</div>

<div class="container">
    <EditForm Model=@studentModel OnValidSubmit="StudentSaveClick" FormName="loginForm">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm">
                <div class="mb-3">
                    <label>First Name</label>
                    <TextInput @bind-Value=studentModel.FirstName class="form-control" id="firstName" />
                    <ValidationMessage For="() => studentModel.FirstName" />
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-3">
                    <label>Last Name</label>
                    <TextInput @bind-Value=studentModel.LastName class="form-control" id="lastName" />
                    <ValidationMessage For="() => studentModel.LastName" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="mb-3">
                    <label>Gender</label>
                    <InputSelect class="form-select" aria-label="Default select example" @bind-Value="studentModel.Gender">
                        <option selected disabled>select gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Other</option>
                    </InputSelect>
                    <ValidationMessage For="() => studentModel.Gender" />
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-3">
                    <label>Date Of Birth</label>
                    <DateInput @bind-Value="studentModel.DateOfBirth" Placeholder="Enter Date" EnableMinMax="true" Min="studentMinDob" Max="studentMaxDob" />
                    <ValidationMessage For="() => studentModel.DateOfBirth" />
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-3">
                    <label>Email</label>
                    <TextInput @bind-Value=studentModel.Email class="form-control" id="email" />
                    <ValidationMessage For="() => studentModel.Email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="mb-3">
                    <label>Class</label>
                    <InputSelect class="form-select" aria-label="Default select example" @bind-Value="studentModel.ClassId" @bind-Value:after="GetDivisionData">
                        <option selected disabled>select class</option>
                        @if (classList.Data != null)
                        {
                            foreach (var classOption in classList.Data)
                            {
                                <option value="@classOption.Id">@classOption.Value</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => studentModel.ClassId" />
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-3">
                    <label>Division</label>
                    <InputSelect class="form-select" aria-label="Default select example" @bind-Value="studentModel.DivisionId">
                        <option selected disabled>select division</option>
                        @if (divisionList.Data != null)
                        {
                            foreach (var divisionOption in divisionList.Data)
                            {
                                <option value="@divisionOption.Id">@divisionOption.Value</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => studentModel.DivisionId" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="mb-3">
                    <label>Admission Date</label>
                    <DateInput @bind-Value="studentModel.AdmissionDate" Placeholder="Admission Date" />
                    <ValidationMessage For="() => studentModel.AdmissionDate" />
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-3">
                    <label>Phone</label>
                    <TextInput @bind-Value=studentModel.Phone class="form-control" id="phone" type="number" />
                    <ValidationMessage For="() => studentModel.Phone" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="mb-3">
                    <label>Building</label>
                    <TextInput @bind-Value=studentModel.Building class="form-control" id="building" />
                    <ValidationMessage For="() => studentModel.Building" />
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-3">
                    <label>City</label>
                    <TextInput @bind-Value=studentModel.City class="form-control" id="city" />
                    <ValidationMessage For="() => studentModel.City" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="mb-3">
                    <label>State</label>
                    <TextInput @bind-Value=studentModel.State class="form-control" id="state" />
                    <ValidationMessage For="() => studentModel.State" />
                </div>
            </div>
            <div class="col-sm">
                <div class="mb-3">
                    <label>Zipcode</label>
                    <TextInput @bind-Value=studentModel.ZipCode class="form-control" id="zipcode" type="number" />
                    <ValidationMessage For="() => studentModel.ZipCode" />
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12 text-right">
                @if (id == null)
                {
                    <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Class="float-end" @onclick="ResetForm">Reset</Button>
                }
                <Button Type="ButtonType.Submit" Color="ButtonColor.Success" Class="float-end me-2">Submit</Button>
            </div>
        </div>
    </EditForm>

    @* <InputFile OnChange="LoadFiles" multiple />
    <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" @onclick="ImageProcess">Save Image</Button> *@
</div>


@code {
    [Parameter] public int? id { get; set; }

    private JwtDTO? tokenData;
    private DateTime studentMaxDob = DateTime.Now.Date;
    private DateTime studentMinDob = new DateTime(DateTime.Now.Date.AddYears(-25).Date.Year, 01, 1);
    private IBrowserFile? browserFile;
    private StudentAddReqDTO studentModel = new StudentAddReqDTO();
    private HttpResponseDTO<List<SelectOptionDTO>> classList = new HttpResponseDTO<List<SelectOptionDTO>>();
    private HttpResponseDTO<List<SelectOptionDTO>> divisionList = new HttpResponseDTO<List<SelectOptionDTO>>();
    private StudentImage? studentPhoto;

    protected override async Task OnInitializedAsync()
    {
        tokenData = TokenService.TokenData;
        classList = await _common.GetAllClassesAsync();
        if (id != null)
        {
            await GetStudentData();
        }
        else
        {
            if (classList.Result)
            {
                divisionList = await _common.GetDivisionsByClassAsync(classList.Data.First().Id);
            }
        }

        if (tokenData != null)
        {
            studentModel.CreatedBy = studentModel.ModifiedBy = tokenData.UserId;
            studentModel.YearId = tokenData.CurrentYearId;
        }
    }

    private async Task GetStudentData()
    {
        if (id != null)
        {
            var res = await _student.GetStudentInfo(id.Value);
            if (res.Result && res.Data != null)
            {
                var Data = res.Data;
                studentModel = new StudentAddReqDTO()
                    {
                        StudentId = Data.StudentId,
                        FirstName = Data.FirstName,
                        LastName = Data.LastName,
                        Gender = Data.Gender,
                        DateOfBirth = Data.DateOfBirth,
                        Email = Data.Email,
                        Phone = Data.Mobile,
                        ClassId = Data.ClassId,
                        AdmissionDate = Data.AdmissionDate,
                        Building = Data.BuildingName,
                        City = Data.City,
                        State = Data.State,
                        ZipCode = Data.ZipCode.ToString()
                    };
                await GetDivisionData();
                studentModel.DivisionId = Data.DivisionId;
            }
            else
            {
                ToastService.ShowError(res.Message);
            }
        }
    }


    private async Task GetDivisionData()
    {
        divisionList = await _common.GetDivisionsByClassAsync(studentModel.ClassId);
        if (divisionList.Result)
        {
            studentModel.DivisionId = divisionList.Data[0].Id;
        }
    }

    private async Task ResetForm()
    {
        studentModel = new();
        if (classList.Data.Any())
        {
            studentModel.ClassId = classList.Data[0].Id;
            await GetDivisionData();
        }
    }

    private async Task StudentSaveClick()
    {
        HttpResponseDTO<bool> responseDTO = await _student.AddStudent(studentModel);
        if (responseDTO.Result)
        {
            ToastService.ShowSuccess(responseDTO.Message);
            BackClick();
        }
        else
        {
            ToastService.ShowError(responseDTO.Message);
        }
    }

    private void BackClick()
    {
        navigationManager.NavigateTo(Page_Routes.Student);
    }

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        browserFile = e.File;
    }

    private async Task ImageProcess()
    {
        if (browserFile != null && browserFile.Size > 0)
        {
            studentPhoto = new StudentImage()
                {
                    StudentId = 5,
                    StudentPhoto = browserFile
                };
            var httpResponse = await _student.StudentPhoto(studentPhoto);
        }

    }
}
